<div id="<%= dom_id feed %>" class="w-full">
  <div class="bg-white shadow-md rounded-lg p-6">
    <div class="flex flex-col sm:flex-row sm:items-center gap-4">
      <div>
        <h2 class="text-xl sm:text-2xl font-semibold text-blue-600 mb-2 hover:text-black">
          <%= link_to feed.title, feed_path(feed) %>
        </h2>
        <h3 class=" text-gray-500 mb-2 hover:text-black">
          <%= link_to feed.url, feed_path(feed) %>
        </h3>
        <div class="prose max-w-none text-sm sm:text-base text-gray-600">
          <%= sanitize feed.description %>
        </div>
      </div>
    </div>
  </div>
</div>
