<div class="w-full">
  <% content_for :title, "Feeds" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Feeds</h1>
  </div>
  <div id="feeds" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-6 mt-5">
    <% @feeds.each do |feed| %>
      <%= render feed %>
    <% end %>
  </div>
</div>
