<div>
  <% if article.bookmarked_for_user?(Current.user) %>
    <%= button_to update_bookmark_article_path(article, article: { bookmarked: false }), class: "bg-green-600 px-4 py-2 rounded hover:bg-green-700", method: :patch do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
      </svg>
    <% end %>
  <% else %>
    <%= button_to update_bookmark_article_path(article, article: { bookmarked: true }), class: "bg-gray-400 px-4 py-2 rounded hover:bg-green-700", method: :patch do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
      </svg>
    <% end %>
  <% end %>
</div>
