<footer class="bg-blue-700 text-white py-4 mt-auto">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-4">
    <p class="text-sm text-center md:text-left">&copy; <%= Time.current.year %> Bloudme | <%= t("rights") %></p>
  </div>
</footer>
